/* 
  Design System Source of Truth
  Derived from Figma
  Do not add new tokens without updating Figma
*/

@layer base {
  :root {
    --98-grey: #c0c0c0;
    --background: #dae9f1;
    --dark-grey: #5f5f5f;
    --primary: #3f96cc;
    --secondary: #917ecf;
    --tertiary: #13367c;

    --text: #333333;

    --widget-background: #d9d9d9;
    --window-background: #fdf9f6;

    --white: #ffffff;
    --black: #000000;

    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-24: 24px;
    --space-32: 32px;
    --space-40: 40px;
    --space-48: 48px;
    --space-56: 56px;
    --space-64: 64px;
    --space-72: 72px;
    --space-80: 80px;

    --radius: 16px;
  }

  .dark {
    --98-grey: #404040;
    --background: #0e1d25;
    --dark-grey: #a1a1a1;
    --primary: #2e7cad;
    --secondary: #a593df;
    --tertiary: #83a6ec;

    --text: #fbfdff;

    --widget-background: #262626;
    --window-background: #252429;
  }
}
